/* Set theme variables used for theme Generation */
@use './_themebase' with (
  $themeDarkOrLight: light,
  $accentColor: #2563eb,
  $bgChatView: #dbeafe,
  $bgImage: url('./images/background_light.svg'),
  $bgMessageBubbleIncoming: #fff,
  $bgMessageBubbleOutgoing: #ecfdf5,
  $bgNavBar: #172554,
  $bgPrimary: #fff,
  $bgSecondary: #f8fafc,
  $chatListItemSelectedBg: #2563eb,
  $colorNone: #a0a0a0,
  $colorPrimary: #2563eb,
  $newChatButtonBg: #2563eb,
  $keybindingSectionHeaderBackground: #d8e2f1,
  $keybindingActionBackground: rgba(0, 0, 0, 0.05),
  $keybindingKeyBorder: #94a3b8,
  $textNavBar: #fff,
  $textPrimary: #0f172a,
  $textSecondary: #475569,
  $btnPrimaryText: #fff,
  $colorLessContrast: #64748b,

  $scrollbarTransparency: 0.5
);

.theme-meta {
  --name: 'BMChat Light';
  --description: 'Clean BMChat theme for communication through email systems.';
}

/* overwrite themedata */
:root {
  --scrollbarThumb: #94a3b8;
  --scrollbarThumbHover: #64748b;
  --bp4DialogBgSecondary: #eaf1fb;
  --chatListItemBgHover: #eff6ff;
  --cli-search-result-divider: var(--delta-dialog-separator);
  --cli-search-result-divider-border-width: 0px;
  --emojiMartSelect: var(--chatListItemBgHover);
}
